body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#combo {
  font-size: 60px;
  margin: 30px;
  letter-spacing: 20px;
  padding: 20px;
  border-radius: 15px;
  background: #020617;
  box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

#info {
  font-size: 22px;
  color: #38bdf8;
}

h2 {
  margin-top: 20px;
  font-size: 28px;
}
