body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: linear-gradient(-45deg, #ff00cc, #00ffcc, #3300ff, #ffcc00);
  background-size: 400% 400%;
  animation: bg 8s infinite linear;
}

@keyframes bg {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* UI TOP */
#ui {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 10;
}

#score {
  font-size: 40px;
  font-weight: bold;
}

#feedback {
  font-size: 30px;
  margin-top: 10px;
}

/* FULL SCREEN GAME AREA */
#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* HIT LINE (REAL CENTER LINE) */
#game::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  bottom: 20vh;

  background: white;
  box-shadow: 0 0 20px white;
}

/* NOTES */
.note {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-weight: bold;

  padding: 12px 18px;
  border-radius: 12px;

  border: 2px solid white;

  text-shadow: 0 0 10px black;
  transition: transform 0.05s linear;
}

/* GAME OVER BIG SCREEN */
#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80px;
  font-weight: bold;
  color: red;
  background: rgba(0,0,0,0.7);

  z-index: 999;
}
